# IDE
.idea/
*.iml
.vscode/

# Backend (Gradle)
backend/.gradle/
backend/build/

# Frontend (Node)
frontend/node_modules/
frontend/dist/
Task 01 description.jpeg
Task 01.jpeg
backend/.env
backend/build.gradle
backend/gradlew
backend/gradlew.bat
backend/settings.gradle
backend/gradle/wrapper/gradle-wrapper.jar
backend/gradle/wrapper/gradle-wrapper.properties
backend/src/main/resources/application.properties
